!!!5
html
    head
        h1 Welcome to Skip!
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h2 Skip is your personal music concierge!
        nav.main_nav
            ul 
                li
                    a(href='/speechtests') Speech to text tests
                li
                    a(href='/tags') Maintain your tagged songs