doctype 5
html(lang="en")
    head
        title= pageTitle
    body
    h1 Speech to text element tests
    #section.webkit
        h2 The webkit speech element
        input(type="text", x-webkit-speech)
