<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is a test page called <%= title %></h1>
    <p>Damn girl</p>
  </body>
</html>